{
  "root": true,
  "extends": [
    "emarsys"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-unused-vars": [
      2, {
        "vars": "all",
        "args": "after-used"
      }
    ]
  }
}
